<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>自定义数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->



    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/loader-style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/static/js/progress-bar/number-pb.css">


    <style type="text/css">
        canvas#canvas4 {
            position: relative;
            top: 20px;
        }
    </style>
    <link rel="shortcut icon" href="/ico/minus.png">
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>


<!-- TOP NAVBAR -->
{{template "./nav.html" .}}
<!-- /END OF TOP NAVBAR -->

<!-- SIDE MENU home页面不需要显示 -->
{{template "./select.html" .}}
<!-- END OF SIDE MENU -->

<!--  PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">

        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-lg-3">
                    <h2 class="tittle-content-header">
                        <i class="icon-window"></i>
                        <span>概览</span>
                    </h2>

                </div>

                <div class="col-lg-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">

                        <div class="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <span class="tittle-alert entypo-info-circled"></span>
                            Welcome back,&nbsp;
                            <strong>Dave mattew!</strong>&nbsp;&nbsp;Your last sig in at Yesterday, 16:54 PM
                        </div>


                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="btn-group btn-wigdet pull-right visible-lg">
                        <div class="btn">
                            Widget</div>
                        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="entypo-plus-circled margin-iconic"></span>Add New</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="entypo-heart margin-iconic"></span>Favorite</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="entypo-cog margin-iconic"></span>Setting</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <!--/ TITLE -->

        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li><a href="/" title="主页">Home</a>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li><a href="javascript:;" title="编号" id="breadcrumbNumber">{{.id}}</a>
            </li>
            <li class="pull-right">
                <div class="input-group input-widget">

                    <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
                </div>
            </li>
        </ul>
        <div class="content-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <!-- BLANK PAGE-->
                    <div class="nest" id="Blank_PageClose">
                        <div class="title-alt">
                            <h6>异常信息</h6>

                            <div class="titleClose">
                                <a class="gone" href="#Blank_PageClose">
                                    <span class="entypo-cancel"></span>
                                </a>
                            </div>
                            <div class="titleToggle">
                                <a class="nav-toggle-alt" href="#content">
                                    <span class="entypo-up-open"></span>
                                </a>
                            </div>
                        </div>

                        <div class="body-nest table-responsive " id="content">
                            <!--title-->
                            <div class="row">
                                <div class="col-md-2"><select class="form-control" id="typeSelect"></select></div>
                                <div class="col-md-2">

                                    <select class="form-control" id="dateSelect">
                                        <option selected="selected" value="1">24小时</option>
                                        <option  value="2">48小时</option>
                                        <option  value="3">一周</option>
                                        <option  value="4">一月</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-info" id="rebuild">生成图表</button>
                                    <!--<button class="btn btn-default" id="refresh">刷新数据</button>-->
                                    <button class="btn btn-danger" id="cleardata">清空数据</button>
                                </div>
                            </div>
                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                            <div style="padding-top: 50px;">
                                <div id="levelchart" style="height:400px"></div>
                                <div id="timechart" style="height:400px"></div>
                            </div>
                            <!--表格-->
                            <div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /END OF CONTENT -->
        </div>
    </div>
</div>
<!--  END OF PAPER WRAP -->


<!-- END OF RIGHT SLIDER CONTENT-->
{{template "./footer.html"}}
<script type="text/javascript" src="/static/bizjs/custom.js"></script>

</body>

</html>
<script>
    var tid  = "{{.id}}"


    $(function(){
        var cmdModel = new CmdModel();
        cmdModel.module = 1;
        cmdModel.counter = 4;
        cmdModel.operate ="types";
        //loadCustomData(tid,cmdModel);
        //获取自定义类型
        loadCustomTypeData(tid,cmdModel)
    });
</script>
